:root{
    --main-bg-color: #f5f5f5;
    --white:white;
    --green:rgb(69, 207, 69);
    --grey:rgb(62, 62, 62);
    --darkGrey: rgb(36, 36, 36);
}
* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-decoration: none;
  border: none;
}
::-webkit-scrollbar{display:none} 
#layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 30px 500px auto 1fr 1fr auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "aside aside nav"
    "aside aside nav"
    "section section special_offer"
    "remodelling remodelling recent_news"
    "footer footer footer";
}
header,
main,
aside,
nav,
section,
#remodelling,
footer,
.svg-container,
.container_header_svg_h1,
ul,
#special_offer,
.special_list,
.sub_text,
#section_major_container,
.sub_section_container,
#recent_news,
.recent_container_2,
.recent_container_1 {
  display: flex;
  gap: 7px;
}
header {
  grid-area: header;
  justify-content: space-between;
  background-color: black;
  padding: 15px 20px 15px 20px;
}
.svg_key {
  position: absolute;
  height: 44px;
  fill: red;
  z-index: 1;
}
.estate {
  color:var(--white);
  padding-left: 50px;
}
.real {
  color: var(--green);
}
.real,
.estate {
  font-size: 2rem;
}
.svg_header {
  height: 20px;
}
main {
  grid-area: main;
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 20px;
}
.main_page {
  color: var(--green);
}
aside {
  grid-area: aside;
  border-bottom: 10px solid green;
}
.swiper{
  height:100%;
  width:100%;
}
.swiper-slide{
  height:100%;
  width:100%;
  background-size: cover;
  background-position: center;
}

aside > h1 {
  font-size: 16px;
  color: var(--white);
}
aside > ul {
  color: var(--white);
  font-size: 14px;
  list-style: initial;
  gap: 20px;
}
nav {
  grid-area: nav;
  background-color: black;
  color: var(--white);
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}


nav > h1 {
  border-bottom: 1px solid var(--white);
  font-size: 14px;
  color: var(--white);
}
form {
  height: fit-content;
  width: 220px;
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  align-items: flex-end;
}
label,
button,
select {
  width: 100px;
  padding: 5px;
}
input,
.i1 {
  width: 213px;
  padding: 5px;
}
button {
  color: white;
  background-color: var(--green);
  border-radius: 4px;
  padding: 7px;
}

section {
  grid-area: section;
  background-color: var(--grey);
  padding: 15px 0px 15px 20px;
  flex-direction: column;
}
section > h1 {
  font-size: 16px;
  color: var(--green);
  padding-bottom: 10px;
}
#section_major_container {
  gap: 45px;
}
.sub_section_container {
  flex-direction: column;
  gap: 10px;
}
.sub_text > h2 {
  font-size: 12px;
  color: var(--white);
}
.sub_section_container>p{
    color: var(--white);
}
#remodelling {
  grid-area: remodelling;
  flex-direction: column;
  background-color:var(--darkGrey);
  color: var(--white);
  gap: 20px;
  padding: 15px 0px 15px 20px;
}
#remodelling > h1 {
    font-size: 16px;
  color: var(--green);
}
.parent_div_remodelling {
  display: flex;
  gap: 30px;
}
#recent_news {
    padding-top:20px;
    grid-area: recent_news;
    background-color:var(--darkGrey);
  flex-direction: column;
  color:var(--white);
}
footer {
  grid-area: footer;
  background-color: var(--white);
  justify-content: space-between;
  padding: 10px 30px 10px 30px;

}
footer>h1>a {
    font-size: 16px;
}
#special_offer {
  grid-area: special_offer;
  background-color: var(--grey);
  flex-direction: column;
  align-items: center;
  padding: 15px 0px 15px 0px;
}
#special_offer > h1 {
  font-size: 14px;
  color: var(--white);
}
.special_list {
  flex-direction: column;
  padding-left: 52px;
  color:var(--green);
}
.sub_text {
  align-items: center;
}
.parent_div_recent_news_container {
  display: flex;
  gap: 20px;
}
.recent_container_1 {
  flex-direction: column;
  display: flex;
  gap: 0;
}
.recent_container_2 {
  flex-direction: column;
}
.recent_container_1> h1 {
    font-size: 25px;
    color: var(--green);
}
.recent_container_1> h2 {
    font-size: 14px;
    color: var(--white);
}
#recent_news>h2{
    font-size: 14px;
    color: var(--white);
}
a{
    color: var(--green);
}
@media only screen and (max-width: 768px) { 
  #layout{
    height: 180vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 60px 1fr auto 1fr 1fr auto auto auto; 
    grid-template-areas:
      "header"
      "main"
      "aside"
      "nav"
      "section"
      "special_offer"
      "recent_news"
      "remodelling"
      "footer";
  
  };
  
}